.folio__connect {
    display: flex;
    flex-direction: row;
}

.folio__connect-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folio__connect-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}

.folio__connect-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.folio__connect-image img {
    width: 100%;
    height: 100%;
}