.folio__skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.folio__skills div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.folio__skills div img {
    width: 7%;
    height: 7%;
    transition: 0.5s ease-in-out;
}

.folio__skills div img:hover {
    width: 12%;
    height: 12%;
}

.folio__skills-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 52px;
}

@media screen and (max-width: 550px) {
    .folio__skills div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .folio__skills div img {
        margin: 0;
        padding: 0;
        width: 10vw;
        height: 10vh;
    }
}
